In [1]:
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

### Load the file into a dataframe

In [2]:
FILE_NAME = 'housing.csv'
datHousing = pd.read_csv(FILE_NAME)

### Inspect the top rows

In [3]:
datHousing.head()

,CRIM,ZN,INDUS,RIVER,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0

In [4]:
# Correctly get the unique values
r = datHousing['RIVER'].unique()
n = datHousing['NOX'].unique()
ra = datHousing['RAD'].unique()
t = datHousing['TAX'].unique()
p = datHousing['PRATIO'].unique()
z = datHousing['ZN'].unique()
c = datHousing['CRIM'].unique()

print(f"Unique values in RIVER: {r}")
print(f"Unique values in NOX: {n}")
print(f"Unique values in RAD: {ra}")
print(f"Unique values in TAX: {t}")
print(f"Unique values in PRATIO: {p}")
print(f"Unique values in ZN: {z}")
print(f"Unique values in CRIM: {c}")

Unique values in RIVER: ['Yes' 'No']
Unique values in NOX: [0.871  0.605  0.489  0.55   0.507  0.464  0.447  0.4429 0.401  0.77
 0.718  0.631  0.668  0.538  0.469  0.458  0.524  0.499  0.428  0.448
 0.439  0.41   0.403  0.411  0.453  0.4161 0.398  0.409  0.413  0.437
 0.426  0.449  0.445  0.52   0.547  0.581  0.624  0.51   0.488  0.422
 0.404  0.415  0.504  0.431  0.392  0.394  0.647  0.575  0.4    0.389
 0.385  0.405  0.433  0.472  0.544  0.493  0.46   0.4379 0.515  0.442
 0.518  0.484  0.429  0.435  0.671  0.7    0.693  0.659  0.597  0.679
 0.614  0.584  0.713  0.74   0.655  0.58   0.532  0.583  0.609  0.585
 0.573 ]
Unique values in RAD: [ 5  4  8  3  1 24  2  6  7]
Unique values in TAX: [403 277 276 307 223 254 216 198 666 296 242 222 311 279 252 233 243 469
 226 313 256 284 337 345 305 398 281 247 270 384 432 188 437 193 265 255
 329 402 348 224 300 330 315 244 264 285 241 293 245 289 358 304 287 430
 422 370 352 351 280 335 411 187 334 711 391 273]
Unique values in PRATIO: [14.7 18.6 16.4 17.4 17.6 14.9 13.6 20.2 15.3 17.8 18.7 15.2 21.  19.2
 18.3 17.9 16.8 21.1 17.3 15.1 19.7 16.1 18.9 19.  18.5 18.2 18.  20.9
 19.1 21.2 16.6 15.6 14.4 12.6 17.  15.9 13.  16.  14.8 18.4 19.6 16.9
 15.5 18.8 22.  20.1]
Unique values in ZN: [  0.   20.   40.   90.   18.   12.5  75.   21.   85.  100.   25.   17.5
  80.   28.   45.   60.   95.   82.5  30.   22.   55.   52.5  70.   34.
  33.   35. ]
Unique values in CRIM: [3.32105e+00 1.12658e+00 1.41385e+00 3.53501e+00 1.27346e+00 1.83377e+00
 1.51902e+00 1.35870e-01 4.35710e-01 1.74460e-01 3.75780e-01 2.17190e-01
 4.56000e-02 1.10690e-01 1.14250e-01 3.58090e-01 4.07710e-01 6.23560e-01
 4.47910e-01 5.20580e-01 9.06500e-02 2.21880e-01 5.64400e-02 1.04690e-01
 6.12700e-02 6.12900e-02 1.50100e-02 8.98296e+00 3.84970e+00 5.20177e+00
 4.22239e+00 3.47428e+00 5.66998e+00 6.53876e+00 8.26725e+00 6.32000e-03
 2.73100e-02 2.72900e-02 3.23700e-02 6.90500e-02 2.98500e-02 8.82900e-02
 1.44550e-01 2.11240e-01 1.70040e-01 2.24890e-01 1.17470e-01 9.37800e-02
 6.29760e-01 6.37960e-01 6.27390e-01 1.05393e+00 7.84200e-01 8.02710e-01
 7.25800e-01 1.25179e+00 8.52040e-01 1.23247e+00 9.88430e-01 7.50260e-01
 8.40540e-01 6.71910e-01 9.55770e-01 7.72990e-01 1.00245e+00 1.13081e+00
 1.35472e+00 1.38799e+00 1.15172e+00 1.61282e+00 6.41700e-02 9.74400e-02
 8.01400e-02 1.75050e-01 2.76300e-02 3.35900e-02 1.27440e-01 1.41500e-01
 1.59360e-01 1.22690e-01 1.71420e-01 1.88360e-01 2.29270e-01 2.53870e-01
 2.19770e-01 8.87300e-02 4.33700e-02 5.36000e-02 4.98100e-02 1.36000e-02
 1.31100e-02 2.05500e-02 1.43200e-02 1.54450e-01 1.03280e-01 1.49320e-01
 1.71710e-01 1.10270e-01 1.26500e-01 1.95100e-02 3.58400e-02 4.37900e-02
 5.78900e-02 1.35540e-01 1.28160e-01 8.82600e-02 1.58760e-01 9.16400e-02
 1.95390e-01 7.89600e-02 9.51200e-02 1.01530e-01 8.70700e-02 5.64600e-02
 8.38700e-02 4.11300e-02 4.46200e-02 3.65900e-02 3.55100e-02 5.05900e-02
 5.73500e-02 5.18800e-02 7.15100e-02 5.66000e-02 5.30200e-02 4.68400e-02
 3.93200e-02 4.20300e-02 2.87500e-02 4.29400e-02 1.22040e-01 1.15040e-01
 1.20830e-01 8.18700e-02 6.86000e-02 1.48660e-01 1.14320e-01 2.28760e-01
 2.11610e-01 1.39600e-01 1.32620e-01 1.71200e-01 1.31170e-01 1.28020e-01
 2.63630e-01 1.07930e-01 1.00840e-01 1.23290e-01 2.22120e-01 1.42310e-01
 1.71340e-01 1.31580e-01 1.50980e-01 1.30580e-01 1.44760e-01 6.89900e-02
 7.16500e-02 9.29900e-02 1.50380e-01 9.84900e-02 1.69020e-01 3.87350e-01
 2.59150e-01 3.25430e-01 8.81250e-01 3.40060e-01 1.19294e+00 5.90050e-01
 3.29820e-01 9.76170e-01 5.57780e-01 3.22640e-01 3.52330e-01 2.49800e-01
 5.44520e-01 2.90900e-01 1.62864e+00 4.09740e+00 2.77974e+00 2.37934e+00
 2.15505e+00 2.36862e+00 2.33099e+00 2.73397e+00 1.65660e+00 1.49632e+00
 2.14918e+00 2.44668e+00 1.22358e+00 1.34284e+00 1.42502e+00 1.46336e+00
 2.24236e+00 2.92400e+00 2.01019e+00 1.80028e+00 2.30040e+00 2.44953e+00
 1.20742e+00 2.31390e+00 1.39140e-01 9.17800e-02 8.44700e-02 6.66400e-02
 7.02200e-02 5.42500e-02 6.64200e-02 5.78000e-02 6.58800e-02 6.88800e-02
 9.10300e-02 1.00080e-01 8.30800e-02 6.04700e-02 5.60200e-02 7.87500e-02
 1.25790e-01 8.37000e-02 9.06800e-02 6.91100e-02 8.66400e-02 2.18700e-02
 1.43900e-02 1.38100e-02 4.01100e-02 4.66600e-02 3.76800e-02 3.15000e-02
 1.77800e-02 3.44500e-02 2.17700e-02 3.51000e-02 2.00900e-02 1.36420e-01
 2.29690e-01 2.51990e-01 1.40520e-01 2.89550e-01 1.98020e-01 7.01300e-02
 6.14700e-01 3.15330e-01 5.26930e-01 3.82140e-01 4.12380e-01 2.98190e-01
 4.41780e-01 5.37000e-01 4.62960e-01 5.75290e-01 3.31470e-01 3.30450e-01
 5.11830e-01 8.24400e-02 9.25200e-02 1.13290e-01 1.06120e-01 1.02900e-01
 1.27570e-01 2.06080e-01 1.91330e-01 3.39830e-01 1.96570e-01 1.64390e-01
 1.90730e-01 1.40300e-01 2.14090e-01 8.22100e-02 3.68940e-01 4.81900e-02
 3.54800e-02 1.53800e-02 6.11540e-01 6.63510e-01 6.56650e-01 5.40110e-01
 5.34120e-01 5.20140e-01 8.25260e-01 5.50070e-01 7.61620e-01 7.85700e-01
 5.78340e-01 5.40500e-01 2.99160e-01 1.62110e-01 1.14600e-01 9.60400e-02
 7.97800e-02 2.10380e-01 3.57800e-02 3.70500e-02 9.06000e-03 1.09600e-02
 1.96500e-02 3.87100e-02 4.59000e-02 4.29700e-02 3.50200e-02 7.88600e-02
 3.61500e-02 8.26500e-02 8.19900e-02 1.29320e-01 5.37200e-02 1.41030e-01
 6.46600e-02 5.56100e-02 4.41700e-02 3.53700e-02 9.26600e-02 1.00000e-01
 5.51500e-02 5.47900e-02 7.50300e-02 4.93200e-02 4.92980e-01 3.49400e-01
 2.63548e+00 7.90410e-01 2.61690e-01 2.69380e-01 3.69200e-01 2.53560e-01
 3.18270e-01 2.45220e-01 4.02020e-01 4.75470e-01 1.67600e-01 1.81590e-01
 3.51140e-01 2.83920e-01 3.41090e-01 1.91860e-01 3.03470e-01 2.41030e-01
 6.61700e-02 6.72400e-02 4.54400e-02 5.02300e-02 3.46600e-02 5.08300e-02
 3.73800e-02 3.96100e-02 3.42700e-02 3.04100e-02 3.30600e-02 5.49700e-02
 6.15100e-02 1.30100e-02 2.49800e-02 2.54300e-02 3.04900e-02 3.11300e-02
 6.16200e-02 1.87000e-02 2.89900e-02 6.21100e-02 7.95000e-02 7.24400e-02
 1.70900e-02 4.30100e-02 1.06590e-01 4.26131e+00 4.54192e+00 3.83684e+00
 3.67822e+00 4.55587e+00 3.69695e+00 1.35222e+01 4.89822e+00 9.23230e+00
 1.11081e+01 1.84982e+01 1.96091e+01 1.52880e+01 9.82349e+00 2.36482e+01
 1.78667e+01 8.89762e+01 1.58744e+01 9.18702e+00 7.99248e+00 2.00849e+01
 1.68118e+01 2.43938e+01 2.25971e+01 1.43337e+01 8.15174e+00 6.96215e+00
 5.29305e+00 1.15779e+01 8.64476e+00 1.33598e+01 8.71675e+00 5.87205e+00
 7.67202e+00 3.83518e+01 9.91655e+00 2.50461e+01 1.42362e+01 9.59571e+00
 2.48017e+01 4.15292e+01 6.79208e+01 2.07162e+01 1.19511e+01 7.40389e+00
 1.44383e+01 5.11358e+01 1.40507e+01 1.88110e+01 2.86558e+01 4.57461e+01
 1.80846e+01 1.08342e+01 2.59406e+01 7.35341e+01 1.18123e+01 1.10874e+01
 7.02259e+00 1.20482e+01 7.05042e+00 8.79212e+00 1.58603e+01 1.22472e+01
 3.76619e+01 7.36711e+00 9.33889e+00 8.49213e+00 1.00623e+01 6.44405e+00
 5.58107e+00 1.39134e+01 1.11604e+01 1.44208e+01 1.51772e+01 1.36781e+01
 9.39063e+00 2.20511e+01 9.72418e+00 5.66637e+00 9.96654e+00 1.28023e+01
 1.06718e+01 6.28807e+00 9.92485e+00 9.32909e+00 7.52601e+00 6.71772e+00
 5.44114e+00 5.09017e+00 8.24809e+00 9.51363e+00 4.75237e+00 4.66883e+00
 8.20058e+00 7.75223e+00 6.80117e+00 4.81213e+00 3.69311e+00 6.65492e+00
 5.82115e+00 7.83932e+00 3.16360e+00 3.77498e+00 4.42228e+00 1.55757e+01
 1.30751e+01 4.34879e+00 4.03841e+00 3.56868e+00 4.64689e+00 8.05579e+00
 6.39312e+00 4.87141e+00 1.50234e+01 1.02330e+01 5.82401e+00 5.70818e+00
 5.73116e+00 2.81838e+00 2.37857e+00 3.67367e+00 5.69175e+00 4.83567e+00
 1.50860e-01 1.83370e-01 2.07460e-01 1.05740e-01 1.11320e-01 1.73310e-01
 2.79570e-01 1.78990e-01 2.89600e-01 2.68380e-01 2.39120e-01 1.77830e-01
 2.24380e-01 6.26300e-02 4.52700e-02 6.07600e-02 1.09590e-01 4.74100e-02]

### Dummy code the categoric variables

In [5]:
datHousing = pd.concat([datHousing, pd.get_dummies(datHousing['RIVER'], prefix='RIVER', drop_first=True)], axis=1)
datHousing.drop(['RIVER'], inplace=True, axis=1)

In [6]:
datHousing.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV,RIVER_Yes
0,3.32105,0.0,19.58,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,True
1,1.12658,0.0,19.58,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,True
2,1.41385,0.0,19.58,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,True
3,3.53501,0.0,19.58,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,True
4,1.27346,0.0,19.58,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,True

###### 3. For now, we are not going to break the data frame into training and testing partitions. Create a regression model on the entire data frame predicting MEDV using all of the other predictors. This is your baseline model. Report the R2 value and MSE for this model.
### Create new dataset without target variable

In [7]:
# Create new dataset without the target variable which is in this case 'MEDV'
datHousingSub = datHousing.drop(['MEDV'], axis=1)

In [8]:
datHousingSub.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,RIVER_Yes
0,3.32105,0.0,19.58,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,True
1,1.12658,0.0,19.58,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,True
2,1.41385,0.0,19.58,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,True
3,3.53501,0.0,19.58,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,True
4,1.27346,0.0,19.58,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,True

### Create new dataset with target variable

In [9]:
target_name = list(['MEDV'])
housing_target = datHousing[target_name]

print(datHousingSub.head(10))
print(housing_target.head(10))
print (len(datHousingSub))
print (len(housing_target))

      CRIM   ZN  INDUS    NOX     RM    AGE     DIS  RAD  TAX  PRATIO  LSTAT  \
0  3.32105  0.0  19.58  0.871  5.403  100.0  1.3216    5  403    14.7  26.82
1  1.12658  0.0  19.58  0.871  5.012   88.0  1.6102    5  403    14.7  12.12
2  1.41385  0.0  19.58  0.871  6.129   96.0  1.7494    5  403    14.7  15.12
3  3.53501  0.0  19.58  0.871  6.152   82.6  1.7455    5  403    14.7  15.02
4  1.27346  0.0  19.58  0.605  6.250   92.6  1.7984    5  403    14.7   5.50
5  1.83377  0.0  19.58  0.605  7.802   98.2  2.0407    5  403    14.7   1.92
6  1.51902  0.0  19.58  0.605  8.375   93.9  2.1620    5  403    14.7   3.32
7  0.13587  0.0  10.59  0.489  6.064   59.1  4.2392    4  277    18.6  14.66
8  0.43571  0.0  10.59  0.489  5.344  100.0  3.8750    4  277    18.6  23.09
9  0.17446  0.0  10.59  0.489  5.960   92.1  3.8771    4  277    18.6  17.27

   RIVER_Yes
0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
   MEDV
0  13.4
1  15.3
2  17.0
3  15.6
4  27.0
5  50.0
6  50.0
7  24.4
8  20.0
9  21.7
506
506

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(datHousingSub, housing_target, test_size=0.30, random_state=25)
print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(354, 12)
(152, 12)
(354, 1)
(152, 1)

In [11]:
# import the linearRegression class
from sklearn.linear_model import LinearRegression

regressor = LinearRegression(fit_intercept = True) # instantiate the Linear Regression model
regressor.fit(X_train, y_train) # train the model

print(f'r_sqr value: {regressor.score(X_train, y_train)}')

r_sqr value: 0.7231057672823237

In [12]:
y_train_pred = regressor.predict(X_train)
y_test_pred = regressor.predict(X_test)

In [13]:
#Report the R2 value and MSE for this model.
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt

print("Baseline Regression Model Results:")
print('RMSE train: %.3f, test: %.3f' % (
        sqrt(mean_squared_error(y_train, y_train_pred)),
        sqrt(mean_squared_error(y_test, y_test_pred))))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

Baseline Regression Model Results:
RMSE train: 4.730, test: 4.843
R^2 train: 0.723, test: 0.746

### Fit 2 cluster model

###### 4.Create a data frame called datHousingSub (ALREADY DONE) for clustering by generating a subset with all columns except MEDV. We want to exclude MEDV from the clustering since this is the value that we will try to predict later from the clusters. Do a summary on the subset to verify.

In [14]:
# Using scikit-learn to perform K-Means clustering
    
# Specify the number of clusters (2) and fit the data dat_rider_feats
kmeans = KMeans(n_clusters=2, random_state=42).fit(datHousingSub)

In [15]:
# Set global NumPy print options for formatting
np.set_printoptions(suppress=True) 

print(datHousingSub.columns)
centroids = (kmeans.cluster_centers_)
print(centroids)

Index(['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PRATIO', 'LSTAT', 'RIVER_Yes'],
      dtype='object')
[[  0.38877444  15.58265583   8.42089431   0.51184743   6.38800542
   60.63224932   4.44127154   4.45528455 311.92682927  17.80921409
   10.41745257   0.07317073]
 [ 12.29916168   0.          18.45182482   0.67010219   6.00621168
   89.96788321   2.05447007  23.27007299 667.64233577  20.19635036
   18.67452555   0.05839416]]

###### 5. Using the KMeans algorithm, create a model with 2 clusters on the datHousingSub data frame. Report the centroid values for each cluster and the sizes of each cluster. Using the characteristics that are especially divergent between the two clusters, what would you name these clusters?
###### To me this looks like 0 is group low crime, and higher Zonning number (less pop per acre), with Lower Industrial activity, and lower age, I would assess this to represent a Suburban center which tend to be newer areas, with lower crime rates than urban cities. We can see the opposite of this is true for group 1, as it is Older and have higher crime rate, 0 for zoning and industrial activity is rather high in comparison.

###### 0 = Suburban and 1 = Urban

In [16]:
labels = (kmeans.labels_)
print(labels)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [17]:
# Calculate silhouette_score
from sklearn.metrics import silhouette_score

print(silhouette_score(datHousingSub, kmeans.labels_))

0.7717962604192585

###### 6. Repeat step 5 with 3 clusters. Do you think that adding another cluster helps to partition the data? Why or why not?

In [18]:
# Using scikit-learn to perform K-Means clustering
    
# Specify the number of clusters (2) and fit the data dat_rider_feats
k_means = KMeans(n_clusters=3, random_state=42).fit(datHousingSub)

In [19]:
print(datHousingSub.columns)
k_centroids = (k_means.cluster_centers_)
print(k_centroids)

Index(['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PRATIO', 'LSTAT', 'RIVER_Yes'],
      dtype='object')
[[  0.78076168   9.65346535  13.07059406   0.58733663   6.18251485
   73.70594059   3.29420891   4.83168317 405.8019802   17.63960396
   12.7509901    0.06930693]
 [ 12.29916168   0.          18.45182482   0.67010219   6.00621168
   89.96788321   2.05447007  23.27007299 667.64233577  20.19635036
   18.67452555   0.05839416]
 [  0.24104791  17.81716418   6.66858209   0.48339813   6.46544776
   55.70522388   4.87356007   4.31343284 276.54850746  17.87313433
    9.53802239   0.07462687]]

In [22]:
k_labels = (k_means.labels_)
print(k_labels)

[2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 1 1 1 1 2 2
 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 1
 1 1 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 1 1 1 2 2 1 1 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 1 1 1 1 1]

In [23]:
# Calculate silhouette_score
from sklearn.metrics import silhouette_score

print(silhouette_score(datHousingSub, k_means.labels_))

0.6217529916045139

###### Do you think that adding another cluster helps to partition the data? Why or why not?
No not really, althought I would call the 3 groups in order 0 = Urban, 1 = Rural, and 2 = Suburban based on the variables mentioned before, where the groups seem to be split by zoning and industrial activities, which give indication in pop per acre and how many business are close by, this is also supported by the DIS variable for distance to work. However, based on the silhouette_score I would say the 2 cluster test is suffecient, this is purely based on the fact between what I classified as rurl and urban would be very small, and mostly likely closer to urban and outter urban area as the variable seem to be slightly close and would give better explanation power if they were combined or in a cluster of 2. The lower silhouette score indicates that the clusters are closer to overlapping than the previous score.

In [25]:
kmeans

KMeans(n_clusters=2, random_state=42)

In [26]:
centroids

array([[  0.38877444,  15.58265583,   8.42089431,   0.51184743,
          6.38800542,  60.63224932,   4.44127154,   4.45528455,
        311.92682927,  17.80921409,  10.41745257,   0.07317073],
       [ 12.29916168,   0.        ,  18.45182482,   0.67010219,
          6.00621168,  89.96788321,   2.05447007,  23.27007299,
        667.64233577,  20.19635036,  18.67452555,   0.05839416]])

###### 7. We will use the 2-cluster model going forward. Merge the cluster ids from this 2-cluster model into the datHousing data frame using the column name Cluster to store this cluster id. Look at the first few rows of data to verify.

In [36]:
# Merge the existing 'labels' variable directly into the DataFrame
datHousing['Cluster'] = labels

# Verify the first few rows
print(datHousing.head())
print(datHousing['Cluster'].unique())

      CRIM   ZN  INDUS    NOX     RM    AGE     DIS  RAD  TAX  PRATIO  LSTAT  \
0  3.32105  0.0  19.58  0.871  5.403  100.0  1.3216    5  403    14.7  26.82
1  1.12658  0.0  19.58  0.871  5.012   88.0  1.6102    5  403    14.7  12.12
2  1.41385  0.0  19.58  0.871  6.129   96.0  1.7494    5  403    14.7  15.12
3  3.53501  0.0  19.58  0.871  6.152   82.6  1.7455    5  403    14.7  15.02
4  1.27346  0.0  19.58  0.605  6.250   92.6  1.7984    5  403    14.7   5.50

   MEDV  RIVER_Yes  Cluster
0  13.4          1        0
1  15.3          1        0
2  17.0          1        0
3  15.6          1        0
4  27.0          1        0
[0 1]

###### 8. Create a new data frame called datHousingC1 which contains all of the rows from datHousing in cluster 1. Look at the first few rows of data to verify. Check the Cluster column to make sure that it only stores the value of 1

In [51]:
datHousingC1 = datHousing.loc[datHousing['Cluster'] == 0]
# Verify the first few rows
print(datHousingC1.head())
print(datHousingC1['Cluster'].unique())
print (len(datHousingC1))

      CRIM   ZN  INDUS    NOX     RM    AGE     DIS  RAD  TAX  PRATIO  LSTAT  \
0  3.32105  0.0  19.58  0.871  5.403  100.0  1.3216    5  403    14.7  26.82
1  1.12658  0.0  19.58  0.871  5.012   88.0  1.6102    5  403    14.7  12.12
2  1.41385  0.0  19.58  0.871  6.129   96.0  1.7494    5  403    14.7  15.12
3  3.53501  0.0  19.58  0.871  6.152   82.6  1.7455    5  403    14.7  15.02
4  1.27346  0.0  19.58  0.605  6.250   92.6  1.7984    5  403    14.7   5.50

   MEDV  RIVER_Yes  Cluster
0  13.4          1        0
1  15.3          1        0
2  17.0          1        0
3  15.6          1        0
4  27.0          1        0
[0]
369

###### 9. Create a new data frame called datHousingC2 which contains all of the rows from datHousing in cluster 2. Use summary to verify the results. Check the Cluster column to make sure that it only stores the value of 2

In [50]:
datHousingC2 = datHousing.loc[datHousing['Cluster'] == 1]
# Verify the first few rows
print(datHousingC2.head())
print(datHousingC2['Cluster'].unique())
print (len(datHousingC2))

       CRIM   ZN  INDUS    NOX     RM   AGE     DIS  RAD  TAX  PRATIO  LSTAT  \
27  8.98296  0.0   18.1  0.770  6.212  97.4  2.1222   24  666    20.2  17.60
28  3.84970  0.0   18.1  0.770  6.395  91.0  2.5052   24  666    20.2  13.27
29  5.20177  0.0   18.1  0.770  6.127  83.4  2.7227   24  666    20.2  11.48
30  4.22239  0.0   18.1  0.770  5.803  89.0  1.9047   24  666    20.2  14.64
31  3.47428  0.0   18.1  0.718  8.780  82.9  1.9047   24  666    20.2   5.29

    MEDV  RIVER_Yes  Cluster
27  17.8          1        1
28  21.7          1        1
29  22.7          1        1
30  16.8          1        1
31  21.9          1        1
[1]
137

###### 10. Create a regression model predicting MEDV and the same predictors as the baseline model in step 3, using the data frame from cluster 1. What are the R2 value and MSE? Is this higher or lower than the baseline model?

In [52]:
target_name = list(['MEDV'])
housing_target1 = datHousingC1[target_name]
datHousingSub1 = datHousingC1.drop(['MEDV', 'Cluster'], axis=1)

print(datHousingSub1.head(10))
print(housing_target1.head(10))
print (len(datHousingSub1))
print (len(housing_target1))

      CRIM   ZN  INDUS    NOX     RM    AGE     DIS  RAD  TAX  PRATIO  LSTAT  \
0  3.32105  0.0  19.58  0.871  5.403  100.0  1.3216    5  403    14.7  26.82
1  1.12658  0.0  19.58  0.871  5.012   88.0  1.6102    5  403    14.7  12.12
2  1.41385  0.0  19.58  0.871  6.129   96.0  1.7494    5  403    14.7  15.12
3  3.53501  0.0  19.58  0.871  6.152   82.6  1.7455    5  403    14.7  15.02
4  1.27346  0.0  19.58  0.605  6.250   92.6  1.7984    5  403    14.7   5.50
5  1.83377  0.0  19.58  0.605  7.802   98.2  2.0407    5  403    14.7   1.92
6  1.51902  0.0  19.58  0.605  8.375   93.9  2.1620    5  403    14.7   3.32
7  0.13587  0.0  10.59  0.489  6.064   59.1  4.2392    4  277    18.6  14.66
8  0.43571  0.0  10.59  0.489  5.344  100.0  3.8750    4  277    18.6  23.09
9  0.17446  0.0  10.59  0.489  5.960   92.1  3.8771    4  277    18.6  17.27

   RIVER_Yes
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
   MEDV
0  13.4
1  15.3
2  17.0
3  15.6
4  27.0
5  50.0
6  50.0
7  24.4
8  20.0
9  21.7
369
369

In [58]:
X_train, X_test, y_train, y_test = train_test_split(datHousingSub1, housing_target1, test_size=0.30, random_state=25)
print('shape of training data independent vars (x)')
print(X_train.shape)
print('shape of test data independent vars (x)')
print(X_test.shape)
print('shape of train data dependent vars (y)')
print(y_train.shape)
print('shape of test data dependent vars (y)')
print(y_test.shape)
regressor = LinearRegression(fit_intercept = True) # instantiate the Linear Regression model
regressor.fit(X_train, y_train) # train the model
print(f'r_sqr value: {regressor.score(X_train, y_train)}')
y_train_pred = regressor.predict(X_train)
y_test_pred = regressor.predict(X_test)
print("Cluster1 Regression Model Results:")
print('RMSE train: %.3f, test: %.3f' % (
        sqrt(mean_squared_error(y_train, y_train_pred)),
        sqrt(mean_squared_error(y_test, y_test_pred))))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

shape of training data independent vars (x)
(258, 12)
shape of test data independent vars (x)
(111, 12)
shape of train data dependent vars (y)
(258, 1)
shape of test data dependent vars (y)
(111, 1)
r_sqr value: 0.8477216916255111
Cluster1 Regression Model Results:
RMSE train: 3.128, test: 3.121
R^2 train: 0.848, test: 0.877

###### Baseline Regression Model Results:
###### RMSE train: 4.730, test: 4.843
###### R^2 train: 0.723, test: 0.746
What are the R2 value and MSE? Is this higher or lower than the baseline model? These are higher than base line model as we can see this model performs better at accurately predicting the data relevant to cluster 1 which in this case, would be the data we had a larger amount of our "suburban area = 0" (maybe explaining the higher predictive power)

###### 11.Create a regression model predicting MEDV and the same predictors as the baseline model in step 3, using the data frame from cluster 2. What are the R2 value and MSE? Is this higher or lower than the baseline model?

In [60]:
target_name = list(['MEDV'])
housing_target2 = datHousingC2[target_name]
datHousingSub2 = datHousingC2.drop(['MEDV', 'Cluster'], axis=1)

print(datHousingSub2.head(10))
print(housing_target2.head(10))
print (len(datHousingSub2))
print (len(housing_target2))

        CRIM   ZN  INDUS    NOX     RM   AGE     DIS  RAD  TAX  PRATIO  LSTAT  \
27   8.98296  0.0   18.1  0.770  6.212  97.4  2.1222   24  666    20.2  17.60
28   3.84970  0.0   18.1  0.770  6.395  91.0  2.5052   24  666    20.2  13.27
29   5.20177  0.0   18.1  0.770  6.127  83.4  2.7227   24  666    20.2  11.48
30   4.22239  0.0   18.1  0.770  5.803  89.0  1.9047   24  666    20.2  14.64
31   3.47428  0.0   18.1  0.718  8.780  82.9  1.9047   24  666    20.2   5.29
32   5.66998  0.0   18.1  0.631  6.683  96.8  1.3567   24  666    20.2   3.73
33   6.53876  0.0   18.1  0.631  7.016  97.5  1.2024   24  666    20.2   2.96
34   8.26725  0.0   18.1  0.668  5.875  89.6  1.1296   24  666    20.2   8.88
364  4.26131  0.0   18.1  0.770  6.112  81.3  2.5091   24  666    20.2  12.67
365  4.54192  0.0   18.1  0.770  6.398  88.0  2.5182   24  666    20.2   7.79

     RIVER_Yes
27           1
28           1
29           1
30           1
31           1
32           1
33           1
34           1
364          0
365          0
     MEDV
27   17.8
28   21.7
29   22.7
30   16.8
31   21.9
32   50.0
33   50.0
34   50.0
364  22.6
365  25.0
137
137

In [61]:
X_train, X_test, y_train, y_test = train_test_split(datHousingSub2, housing_target2, test_size=0.30, random_state=25)
print('shape of training data independent vars (x)')
print(X_train.shape)
print('shape of test data independent vars (x)')
print(X_test.shape)
print('shape of train data dependent vars (y)')
print(y_train.shape)
print('shape of test data dependent vars (y)')
print(y_test.shape)
regressor = LinearRegression(fit_intercept = True) # instantiate the Linear Regression model
regressor.fit(X_train, y_train) # train the model
print(f'r_sqr value: {regressor.score(X_train, y_train)}')
y_train_pred = regressor.predict(X_train)
y_test_pred = regressor.predict(X_test)
print("Cluster1 Regression Model Results:")
print('RMSE train: %.3f, test: %.3f' % (
        sqrt(mean_squared_error(y_train, y_train_pred)),
        sqrt(mean_squared_error(y_test, y_test_pred))))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

shape of training data independent vars (x)
(95, 12)
shape of test data independent vars (x)
(42, 12)
shape of train data dependent vars (y)
(95, 1)
shape of test data dependent vars (y)
(42, 1)
r_sqr value: 0.6735080000289209
Cluster1 Regression Model Results:
RMSE train: 4.709, test: 5.020
R^2 train: 0.674, test: 0.677

###### Baseline Regression Model Results:
###### RMSE train: 4.730, test: 4.843
###### R^2 train: 0.723, test: 0.746
What are the R2 value and MSE? Is this higher or lower than the baseline model? These are lower than base line model as we can see this model performs worse than the baseline at accurately predicting the data relevant to cluster 2 which in this case, would be the data we had a less amount of our "urban area = 1".

###### 12. Summarize your findings. Do you think that clustering might improve your ability to predict the MEDV value? If so, under what contexts or constraints?
Clustering can improve the predictive power of a model as we can see in this example which may be due to the amount of data points vs 0 and 1 cluster giving better predictive power to the underlying factors that influence the target variable (MEDV) within different clusters. In this case:

For suburban areas, the clustering improved the ability to predict MEDV.

For urban areas, where the data maybe be more complex or less of, clustering did not improve the model’s predictive performance.