In [1]:
from sklearn.cluster import KMeans
import pandas as pd

### Load the file into a dataframe

In [2]:
FILE_NAME = 'BartRider.csv'
dat_rider = pd.read_csv(FILE_NAME)

### Inspect the top rows

In [3]:
dat_rider.head()

,Age,DistToWork,DualInc,Education,Gender,Income,Language,NbrInHouseHold,NbrInHouseholdUnder18,OwnRent,Rider,YrsInArea
0,7,14,N,3,F,3,English,1,0,Rent,Yes,5
1,7,10,N,5,M,8,English,2,0,Own,No,5
2,3,9,N,3,M,1,English,1,0,Rent,Yes,5
3,1,13,N,2,M,1,English,5,3,Parent,Yes,5
4,3,14,N,5,F,2,English,3,1,Parent,Yes,5

### Dummy code the categoric variables

In [4]:
dat_rider = pd.concat([dat_rider, pd.get_dummies(dat_rider['Gender'], prefix='Gender', drop_first=True)], axis=1)
dat_rider.drop(['Gender'], inplace=True, axis=1)

dat_rider = pd.concat([dat_rider, pd.get_dummies(dat_rider['OwnRent'], prefix='OwnRent', drop_first=True)], axis=1)
dat_rider.drop(['OwnRent'], inplace=True, axis=1)

dat_rider = pd.concat([dat_rider, pd.get_dummies(dat_rider['Language'], prefix='Language', drop_first=True)], axis=1)
dat_rider.drop(['Language'], inplace=True, axis=1)

dat_rider = pd.concat([dat_rider, pd.get_dummies(dat_rider['DualInc'], prefix='DualInc', drop_first=True)], axis=1)
dat_rider.drop(['DualInc'], inplace=True, axis=1)

dat_rider = pd.concat([dat_rider, pd.get_dummies(dat_rider['Rider'], prefix='Rider', drop_first=True)], axis=1)
dat_rider.drop(['Rider'], inplace=True, axis=1)

In [5]:
dat_rider.head()

,Age,DistToWork,Education,Income,NbrInHouseHold,NbrInHouseholdUnder18,YrsInArea,Gender_M,OwnRent_Parent,OwnRent_Rent,Language_Other,Language_Spanish,DualInc_Y,Rider_Yes
0,7,14,3,3,1,0,5,0,0,1,0,0,0,1
1,7,10,5,8,2,0,5,1,0,0,0,0,0,0
2,3,9,3,1,1,0,5,1,0,1,0,0,0,1
3,1,13,2,1,5,3,5,1,1,0,0,0,0,1
4,3,14,5,2,3,1,5,0,1,0,0,0,0,1

### Create new dataset without target variable

In [6]:
dat_rider_feats = dat_rider.drop(['Rider_Yes'], axis=1)

In [7]:
dat_rider_feats.head()

,Age,DistToWork,Education,Income,NbrInHouseHold,NbrInHouseholdUnder18,YrsInArea,Gender_M,OwnRent_Parent,OwnRent_Rent,Language_Other,Language_Spanish,DualInc_Y
0,7,14,3,3,1,0,5,0,0,1,0,0,0
1,7,10,5,8,2,0,5,1,0,0,0,0,0
2,3,9,3,1,1,0,5,1,0,1,0,0,0
3,1,13,2,1,5,3,5,1,1,0,0,0,0
4,3,14,5,2,3,1,5,0,1,0,0,0,0

### Fit 2 cluster model

In [9]:
# Using scikit-learn to perform K-Means clustering
    
# Specify the number of clusters (2) and fit the data dat_rider_feats
kmeans = KMeans(n_clusters=2, random_state=42).fit(dat_rider_feats)

C:\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [10]:
print(dat_rider_feats.columns)
centroids = (kmeans.cluster_centers_)
print(centroids)

Index(['Age', 'DistToWork', 'Education', 'Income', 'NbrInHouseHold',
       'NbrInHouseholdUnder18', 'YrsInArea', 'Gender_M', 'OwnRent_Parent',
       'OwnRent_Rent', 'Language_Other', 'Language_Spanish', 'DualInc_Y'],
      dtype='object')
[[ 2.52404947 11.36005497  3.14154833  2.07924874  3.17727897  0.90151168
   4.13467705  0.46541457  0.4860284   0.40265689  0.04076958  0.09024279
   0.0650481 ]
 [ 4.11661631 11.56374622  4.35438066  7.19274924  2.72598187  0.57915408
   4.39607251  0.45891239  0.10332326  0.24773414  0.02265861  0.03232628
   0.36193353]]

In [11]:
labels = (kmeans.labels_)
print(labels)

[0 1 0 ... 0 1 0]

In [12]:
# Calculate silhouette_score
from sklearn.metrics import silhouette_score

print(silhouette_score(dat_rider_feats, kmeans.labels_))

0.2807573414157469

In [13]:
from sklearn.datasets import make_blobs

X_test, y_test = make_blobs(n_samples=100, centers=2, n_features=2, random_state=42)
kmeans_test = KMeans(n_clusters=2, random_state=42)
kmeans_test.fit(X_test)

C:\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=2, random_state=42)